.feed-on {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card {
  margin: 1rem;
  max-height: calc(100vh - 240px);
  overflow: auto;
}

mat-form-field {
  margin-bottom: 0.5rem;
}

.delete-btn {
  margin-top: 0.5rem;
}

.tab-icon {
  margin-right: 8px;
}

.btn-upload {
  margin: 0 1rem;
}
